@font-face {
  font-family: 'Brush Script MT Italic';
  src: local('Brush Script MT Italic'),
    url(../Theme/font/BrushScriptMT/BRUSHSCI.ttf) format('truetype');
}
@font-face {
  font-family: 'Great Vibes';
  src: local('Great Vibes'),
    url(../Theme/font/GreatVibes/GreatVibes-Regular.ttf) format('truetype');
}

.nav-item {
  font-family: 'Great Vibes';
  font-size: x-large;
}
